{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">

            <div id="chart"></div>

            <script>
                let options = {{ options|raw }};
                let chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render();
            </script>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Skill</th>
                    <th scope="col">Number of jobs</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in data %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

